@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

:root{
    --cor-principal: #fff; 
    --cor-secundaria: #000000; 
    --cor-hover: #272727;

    --fonte: 'Roboto';
}

body{
    background: var(--cor-secundaria);
}

header{
    background: #e50914;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho__titulo{
    color: var(--cor-principal);
    font-family: var(--fonte);
    font-weight: 500;
}

.cabecalho__menu{
    display: flex;
    flex-direction: row;
    gap: 18px;
    font-family: var(--fonte);
    font-weight: 500;
    font-size: 1.5rem;
}

.cabecalho__menu__link{
    color: var(--cor-secundaria);
}

main{
    margin: 0 auto;
    max-width: 1800px;
}

.imagens__container{
    padding: 3em 12em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.capa__filme{
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5em 0.5em;
    transition: background-color 0.6s ease-out;
}

.capa__filme img{
    width: 200px;
}

.capa__filme:hover{
    background-color: navajowhite;;
}

.creditos{
    background-color: rgb(29, 26, 26);
    font-family: var(--fonte);
    color: aliceblue;
    text-align: center;
    font-size: 10px;
}






